
.main-page-body-title{
	padding-top: 100px;
	text-align: center;
	color: #ffffff;
}

.main-body{
	overflow: hidden;
	padding-top: 20px;
	text-align: center;
}

.main-page-body-content{
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center; 
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 200px;
	padding-right: 200px;

}

.main-body-widget {
	display: inline-block;	
	width: 150px;
	height: 150px;
	margin-top: 1em;
	margin-right: 1em;
	border: 10px solid black;
	box-shadow: 0px -1px 8px 4px;;
	align-items: center; 
	text-align: center; 
	font-weight: bold; 
	cursor: pointer; 
	padding: 10px; 
	justify-content: space-around; 
	
 }

.thumbnailImg {
	width: 80px;
	height: 80px;
}

.thumbnailTxt {
	padding-top: 10px;
	color: #ffffff;
	font: 0.6em;
}

 .main-body-widget:hover {
 	border: 5px solid black;
 	box-shadow: 0px -1px 20px 10px;		
 }

 .header-home-image{
 	padding-top: 30px;
	padding-left: 40px;
	width: 80px;
	background: none;
	cursor: pointer;
	color: @colorOrange;
}

.mobile-container {
	display: none;
}


/*CSS Media Queries for Mobile Phones and Tablet*/
@media only screen and (max-width: 600px){
	.main-page-body-title{
		text-shadow: 1px 1px;
		padding-top: 20px;
		text-align: center;
		color: #ffffff;
	}

	.main-body-widget {
		display: inline-block;	
		width: 100px;
		height: 100px;
		background-color: solid black;
		margin-top: 1em;
		margin-right: 1em;
		border: 10px solid black;
		box-shadow: 0px -1px 8px 4px;;
		align-items: center; 
		text-align: center; 
		font-weight: bold; 
		cursor: pointer; 
		padding: 10px; 
		justify-content: space-around; 	
 	}

	.thumbnailImg {
		width: 40px;
		height: 40px;
	}

	.thumbnailTxt {
		padding-top: 5px;
		color: #ffffff;
		font-size: 10px;
	}

	.header-home-image{
 		padding-top: 30px;
		padding-left: 10px;
		width: 50px;
		background: none;
		cursor: pointer;
		color: @colorRed;
	}

	.mobile-container {
		float: right;
		display: block;
		padding-top: 13px;
  		max-width: 300px;
  		color: #ffffff;
	}

	.topnav {
  		padding-right: 50px;
  		padding-top: 18px;
	}

	.topnav #myLinks {
  		display: none;
  		float: left;
  		font-color: #ffffff;
	}

	.topnav a {
  		float: left;
  		color: #ffffff;
  		font-size: 14px;
	}

	.topnav a.icon {
  		float: right;
	}

	.topnav a:hover {
  		background-color: #ddd;
  		color: #ffffff;
	}

	.active {
  		background-color: #4CAF50;
  		color: #ffffff;
	}
}



