<div class="col-sm-12">
  <a href="/home">
    <i class="fa fa-home fa-3x header-home-image" aria-hidden="true"></i>
  </a>
</div>
<div id="blog" class="blog col-sm-12">
  <div class="blogNode row">
    <div class="col-md-12">
      <span class="name">Add Blog</span>
      <span class="pull-right" (click)="openBlogDialog()">
        <i class="fa fa-2x fa-plus addBlogImage"></i>
      </span>
    </div>
  <div *ngFor="let blog of blogs" aria-label="blog" id="parent-{{blog.blogId}}" class="blogNode row"
    (click)="ele.class = ele.class == 'showChildren' ? '' :  'showChildren'" #ele>
    <div class="col-md-12">
      <span class="name">{{blog.title}}</span>
      <span class="createDate pull-right">{{blog.date}}</span>
      <span class="author pull-right">{{blog.author}}</span>  
    </div>
    <div id="child-{{blog.blogId}}" class="blogNode" [ngClass]="{ hideChildren : ele.class !== 'showChildren' }">
      <div><span class="description">{{blog.description}}</span></div>
      <div class="commentNode row">
        <div class="col-md-12">
          <span class="name">Add Comments</span>
          <span class="pull-right" (click)="openCommentDialog(blog.blogId)">
            <i class="fa fa-2x fa-plus addBlogImage"></i>
          </span>
        </div>
        <div *ngFor="let comment of blog.comments" aria-label="blog" class="commentNode row">
        <div class="col-md-12"><span class="name">{{comment.description}}</span></div>
        <div class="col-md-12">
          <span class="author">{{comment.author}}</span>
          <span class="createDate">{{comment.date}}</span>
        </div>
      </div>
      </div>  
    </div>
  </div>
</div>
